.imageCarouselWrapper {
    position: relative;
    width: 100%;

    .actionButton {
        position: absolute;
        top: 50%;
        width: auto;
        height: 100%;
        padding: 0px 10px;
        transform: translateY(-50%);

        &.actionButtonRight {
            right: 0;
        }
        &.actionButtonLeft {
            left: 0;
        }

        .actionButtonIcon {
            width: 30px;
            height: 30px;
            color: $foregroundLight-color;
        }
    }
}
