// slider modal
.slider-modal-enter {
    right: -100%;
}
.slider-modal-enter-active {
    right: 0;
    transition: right 0.3s cubic-bezier(0, 0.99, 0.07, 0.99);
}
.slider-modal-enter-done {
    right: 0;
}
.slider-modal-exit {
    right: 0;
}
.slider-modal-exit-active {
    right: -100%;
    transition: right 0.3s cubic-bezier(0, 0, 1, 0.01);
}
.slider-modal-exit-done {
    right: -100%;
}

// backdrop
.slider-modal-backdrop-enter {
    opacity: 0;
}
.slider-modal-backdrop-enter-active {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.slider-modal-backdrop-enter-done {
    opacity: 0.5;
}
.slider-modal-backdrop-exit {
    opacity: 0.5;
}
.slider-modal-backdrop-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.slider-modal-backdrop-exit-done {
    opacity: 0;
}
