.wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;

    .backdrop {
        position: absolute;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 0.35s ease, right 0s 0.35s ease;
    }

    .backdropShow {
        right: 0;
        opacity: 0.35;
        transition: opacity 0.35s ease, right 0s ease;
    }

    .slider {
        position: absolute;
        z-index: 1;
        right: -100%;
        display: grid;
        height: 100%;
        background-color: $backgroundPrimary-color;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 50px;
        transition: right 0.35s ease;

        .sliderHeader {
            width: 100%;
            height: 100%;
            padding-right: 15px;
            padding-left: 5px;

            @include flex(center, space-between);

            .titleWrapper {
                width: 100%;
                height: 100%;

                @include flex(center, flex-start, $gap: 5px);
            }

            .closeButton {
                color: $danger-color;
                cursor: pointer;

                &:hover {
                    color: $dangerDark-color;
                }
            }
        }

        .sliderBody {
            overflow: auto;
            width: 100%;
            height: 100%;
            padding: 0 15px;
        }

        .sliderFooter {
            width: 100%;
            height: 100%;
            padding: 0 15px;
        }
    }

    .sliderShow {
        right: 0;
    }
}

.wrapperShow {
    right: 0;
    // load quickly so that other components can load in
    transition: right 0s ease;
}

.wrapperHide {
    // delay waiting for the other components to animate out
    transition: right 0s 0.35s ease;
}
