@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'react-alice-carousel/lib/scss/alice-carousel.scss';
@import './aliceCarouselStyles.scss';
@import './scrollbarStyles.scss';
@import './materialStyles.scss';
@import './transitions/index.scss';
@import './reactSelectStyles.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', Helvetica, sans-serif;
    // all component will have p tag's font-size as base font-size,
    //if specific font-size is needed use one of the available height patterns / create your own with scss variables
    font-size: $p-fontsize;
    scroll-behavior: smooth;
    vertical-align: baseline;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: $foregroundPrimary-color;
}

h1 {
    font-size: $h1-fontsize;
    font-weight: bold;
}

h2 {
    font-size: $h2-fontsize;
    font-weight: bold;
}

h3 {
    font-size: $h3-fontsize;
    font-weight: bold;
}

h4 {
    font-size: $h4-fontsize;
    font-weight: 600;
}

h5 {
    font-size: $h5-fontsize;
    font-weight: 600;
}

h6 {
    font-size: $h6-fontsize;
    font-weight: 600;
}

p {
    font-size: $p-fontsize;
    font-weight: 400;
}
