.MuiSkeleton-root {
    width: 100% !important;
    height: 100% !important;
}

// menu component removing padding
.MuiList-padding {
    padding: 0 !important;
}

// bottom padding for card component
.MuiCardContent-root:last-child {
    padding-bottom: 16px !important;
}

// removing expandable card margin (when expanded)
.MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}
