// overall select element container
.react-select-container {
    width: 100% !important;
}

// setting styling for the control prop
.custom-select__control {
    min-height: 56px !important;
    border: none !important;
    background-color: transparent !important;
}

.custom-select__control--is-focused {
    border: none !important;
    box-shadow: none !important;
}

// multi value
.custom-select__multi-value {
    background-color: $backgroundSubTertiary-color !important;
    color: $foregroundPrimary-color !important;
}

// single value container
.custom-select__single-value {
    color: $foregroundPrimary-color !important;
}

// option container
.custom-select__option {
    padding: 12px 12px !important;
    color: $foregroundPrimary-color !important;
}

// option container focused
.custom-select__option--is-focused {
    background-color: $primaryLight-color !important;
}

// option container selected
.custom-select__option--is-selected {
    background-color: $primary-color !important;
    color: $foregroundLight-color !important;
}

// when the option is both selected and focused
.custom-select__option--is-selected.custom-select__option--is-focused {
    background-color: $primary-color !important;
}

// menu container
.custom-select__menu {
    z-index: 2 !important;
    padding: 0 !important;
    background-color: $backgroundPrimary-color !important;
}

// wrapper for all select components
.custom-select__wrapper {
    position: relative;
    width: 100%;
    margin-top: 5px; // for label legend positioned at top
    &.custom-select__wrapper--no-bottom-message {
        padding-bottom: 22px;
    }
    margin-top: 5px;
}

.custom-select__label {
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 9px;
    padding: 0 5px;
    background-color: inherit;
    color: $inputFieldLabelDefault-color;
    font-size: 12px;
    font-weight: 400;
    transition: color 0.2s ease;

    &.custom-select__label--is-focused {
        color: $primary-color;
    }

    &.custom-select__label--is-error {
        color: $danger-color;
    }
}

.custom-select__bottom-message {
    margin-left: 4px;
    color: $inputFieldLabelDefault-color;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.2s ease;

    &.custom-select__bottom-message--is-error {
        color: $danger-color;
    }
}

.custom-select__placeholder {
    color: $inputFieldPlaceholder-color !important;
}

.custom-select__fieldset {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 56px;
    border-width: 1px;
    border-style: solid;
    border-color: $inputFieldBorderDefault-color;
    border-collapse: collapse;
    border-radius: 4px;
    pointer-events: none;
    transition: border-color 0.2s ease;

    &:hover {
        border-color: $inputFieldBorderHover-color !important;
    }

    &.custom-select__fieldset--is-focused {
        border-width: 2px !important;
        border-color: $primary-color !important;
    }

    &.custom-select__fieldset--is-hovered {
        border-width: 1px !important;
        border-color: $inputFieldBorderHover-color !important;
    }

    &.custom-select__fieldset--is-error {
        border-color: $danger-color !important;
    }

    .custom-select__fieldset__legend {
        padding: 0 5px;
        margin-left: 8px;
        background-color: transparent;
        color: transparent;
        font-size: 12px;
        font-weight: 400;
        line-height: 0;
    }
}
