/* custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: 0;
    background-clip: content-box;
    background-color: $foregroundTertiary-color;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $foregroundPrimary-color;
}
