.wrapper {
    margin-top: 5px;
}

.inputFieldBottomSpace {
    margin-bottom: 22px;
}

.fullWidthField {
    width: 100%;
}

.helperComponent {
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    margin: 0 4px;
    @include flex(center, flex-start, $gap: 5px);
}

.loadingIndicator {
    color: $primaryDark-color;
}

.successIcon {
    color: $success-color;
}

.helperText {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    -webkit-box-orient: vertical;
    color: $foregroundPrimary-color;
    font-size: $p-fontsize;
    font-weight: 500;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}
.helperTextSuccess {
    color: $success-color;
}

.helperTextDanger {
    color: $danger-color;
}

.helperTextWarning {
    color: $warning-color;
}

.helperTextLoading {
    color: $primary-color;
}
