$border-styling: 1px solid $tableCellBorder-color;

.tableWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .headerRow {
        background-color: $backgroundTertiary-color;

        .headerFirstColumnCell {
            border-left: $border-styling;
        }

        .headerLastColumnCell {
            border-right: $border-styling !important;
        }

        .headerCell {
            border-top: $border-styling;
            border-left: unset;
            background-color: $backgroundTertiary-color;
            font-weight: 600;
        }
    }

    .bodyRow {
        overflow: scroll;

        .bodyFirstColumnCell {
            border-left: $border-styling;
        }

        .bodyLastColumnCell {
            border-right: $border-styling;
        }

        .bodyCell {
            // styling for normal body cell when table can expand
            &.bodyCellExpansibleTable {
                cursor: pointer;
            }

            &.bodyCellWithTableExpanded {
                border-bottom: unset;
            }
        }
    }

    .collapsedRow {
        // styling for cell which is collapsed
        .collapsedCell {
            padding-top: 0;
            padding-bottom: 0;
            border-right: $border-styling;
            border-left: $border-styling;

            &.collapsedCellExpandedState {
                border-bottom: $border-styling;
            }
        }
    }
}
