.wrapper {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: $border-radius;
    cursor: pointer !important;
    font-weight: 600;
    transition: all 0.2s ease;
    transition-property: color, background-color, opacity;
    user-select: none;
    @include flex(center, center);

    &:hover {
        opacity: 0.8;
    }
}

.smallWrapper {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    font-size: 12px;
}

.mediumWrapper {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    font-size: 16px;
}

.disabled {
    background-color: transparent !important;
    color: $foregroundTertiary-color !important;
    cursor: default !important;
}

.selected {
    background-color: $primaryLight-color !important;
    color: $primary-color !important;
}

.unselected {
    background-color: transparent !important;
    color: $foregroundPrimary-color !important;
}

.selectedNoBg {
    background-color: transparent !important;
    color: $primary-color !important;
}

.circular {
    border-radius: $border-radius-cirular;
}

.square {
    border-radius: 0;
}

.rounded {
    border-radius: $border-radius;
}
