.wrapper {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background-color, width, height, border-radius;
    transition-timing-function: ease;
    user-select: none;

    @include flex(center, center);
}

.smallWrapper {
    width: 28px;
    height: 28px;
}

.mediumWrapper {
    width: 34px;
    height: 34px;
}

.disabled {
    background-color: transparent !important;
    color: $foregroundTertiary-color !important;
    cursor: default !important;
}

.selected {
    background-color: $primaryLight-color;
    color: $primary-color;
}

.unselected {
    background-color: transparent;
    color: $foregroundPrimary-color;
}

.selectedNoBg {
    background-color: transparent;
    color: $primary-color;
}

.circular {
    border-radius: 20px;
}

.square {
    border-radius: 0;
}

.rounded {
    border-radius: 5px;
}
